
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<title>WooriPE Management System</title>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script type="text/javascript">

// 비밀번호 검사 함수
function passwordCheck(){
	let password = document.getElementById("password1").value;
	let rePassword = document.getElementById("password2").value;
	

	if(password == rePassword){
    document.getElementById('passwordCheckMessages').innerHTML = '비밀번호가 일치합니다.';
    document.getElementById('passwordCheckMessages').style.color = 'blue';
	}else if(password != rePassword){
    document.getElementById('passwordCheckMessages').innerHTML = '비밀번호가 일치하지 않습니다.';
    document.getElementById('passwordCheckMessages').style.color = 'red';
	}
}

// 아이디 변경을 감지하는 함수
function idOnchange(){
	let emplyrId = document.getElementById("emplyrId").value;

  document.getElementById('idCheckMessages').innerHTML = "";
  document.getElementById('idCheckMessages').style.color = 'blue';

}

// 아이디 중복확인 함수
function fn_idCheck(){
  var sendReply = {"emplyrId" : document.getElementById('emplyrId').value}
	const settings = {
			"url": "/member/id/checked",
			"method": "POST",
			"headers": {
			  "Content-Type": "application/json"
			},
			"data": JSON.stringify(sendReply)
		};
  
	$.ajax(settings)
	.done(function () {
	  document.getElementById('idCheckMessages').innerHTML = '사용이 가능한 아이디입니다.';
	  document.getElementById('idCheckMessages').style.color='blue';
	})
	.fail(function(error) {
	  document.getElementById('idCheckMessages').innerHTML = error.responseJSON.header.message;
	  document.getElementById('idCheckMessages').style.color='red';
	})	
}


// 저장 함수
$(document).ready(function() {
	
	document.getElementById("save_btn").onclick = function() {
			
		if(document.getElementById('idCheckMessages').innerHTML != '사용이 가능한 아이디입니다.'){
			document.getElementById('idCheckMessages').innerHTML = '아이디를 확인해주세요.';
			document.getElementById('idCheckMessages').style.color='red';
			return;
		}else if(document.getElementById('passwordCheckMessages').innerHTML != '비밀번호가 일치합니다.'){
			document.getElementById('passwordCheckMessages').innerHTML = '비밀번호를 확인해주세요';
			document.getElementById('passwordCheckMessages').style.color='red';
			return;
		}else if(!emailCheck(document.getElementById("emailAddress").value)){
	    document.getElementById('emailCheckMessages').innerHTML = '이메일 형식이 잘못 되었습니다.';
   	 	document.getElementById('emailCheckMessages').style.color = 'red';
   	 	return;
		}else if(document.getElementById("emplyrNm").value == ""){
				alert("이름을 입력해주세요");
	   	 	return;
		}else if (!telCheck(document.getElementById("cellPhone").value)) {
		    document.getElementById('phoneCheckMessages').innerHTML = '전화번호 형식이 아닙니다.';
	   	 	document.getElementById('phoneCheckMessages').style.color = 'red';
	      return;
		}else{
	  	if ($('#inputForm').valid()) {
	    	document.getElementById("regId").value = "manager";
	    	document.getElementById("lockAt").value = "N";
        document.getElementById('lastUpdDate').value = createDate();
        document.getElementById('regDate').value = createDate();
        document.getElementById('lastUpdId').value = "manager";

	    	$("#inputForm").submit();
	    }			
		}
	}
	
	
	$.validator.setDefaults({
	    onkeyup: false,
	    onclick: false,
	    onfocusout: false,
	    showErrors: function(errorMap,errorList){
	        if(this.numberOfInvalids()){ // 에러가 있으면
	            alert(errorList[0].message); // 경고창으로 띄움
	        }
	    }
	});
	
    $("#inputForm").validate({
        rules: {
        	emplyrId : {
                required: true,
                minlength: 4
            },
            password : {
                required: true,
                minlength: 7
            },
            emplyrNm : {
                required: true,
                minlength: 1
            }
        },
        messages: {
        	emplyrId: {
                required: "아이디는 필수 항목입니다.",
                minlength: "아이디는 5자리 이상이여야 합니다."
            },
            password: {
                required: "비밀번호는 필수 항목입니다.",
                minlength: "비밀번호는 8자리 이상이여야 합니다."
            },
            emplyrNm: {
                required: "이름은 필수 항목입니다.",
                minlength: "이름은 2자리 이상이여야 합니다."
            }
        },
        submitHandler: function(){
            console.log("submit!");
            const formData = $("#inputForm").serialize();
        	const settings = {
        		"url": $("#inputForm").attr("action"),
        		"method": "POST",
        		"data": formData
        	};
        	
        	$.ajax(settings)
        		.done(function (response) {
        			console.log("===== done =====");
        			console.log(response);
        			console.log("===== done =====");
        			alert("관리자 아이디가 등록되었습니다.");
        			window.location.href = '/member/list';
        		})
        		.fail(function(error) {
        			console.log("===== fail =====");
        			console.log(error);
        			console.log("===== fail =====");
        			alert(error.responseJSON.header.message);
        		})
        		.always(function(response) {
        			
        		});
        }
    });
});


// 날짜 생성 함수
function createDate(){
	var today = new Date();
	var yyyy = today.getFullYear();
	var mm = String(today.getMonth() + 1).padStart(2, '0');
	var dd = String(today.getDate()).padStart(2, '0');
	var h = String(today.getHours()).padStart(2, '0');
	var m = String(today.getMinutes()).padStart(2, '0');
	var s = String(today.getSeconds()).padStart(2, '0');
	var now = yyyy + "-" + mm + "-" + dd + " " + h  + ":" + m + ":" + s;
	return now;
}

//이메일이 잘못되었는지 확인하는 함수 
function emailCheck(str){                                             
	var reg_email = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
	if(!reg_email.test(str)) {                            
	     return false;         
	}                            
	else {                       
  	return true;         
	}                            
}   

// 전화번호 유효성 검사 함수
function telCheck(args) {
  if (/^[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}/.test(args)) {
      return true;
  }
  return false;
}

</script>

</head>
<body>
	<!-- layout.html에 정의한 main page 부분 -->
	<div layout:fragment="content" id="contents">
		<div class="content_header">
			<h3>관리자 등록</h3>
		</div>
		<form id="inputForm" th:action="@{/member/add}" method="POST">
			<table class="tbl_view">
				<colgroup>
					<col style="width:15%">
					<col style="width:35%">
					<col style="width:15%">
					<col style="width:35%">
				</colgroup>
				<tr>
					<th>권한 <span class="text_red">*</span></th>
					<td>ROLE_ANONYMOUS</td>
					<th>권한명 <span class="text_red">*</span></th>
					<td>모든사용자</td>
				</tr>
				<tr>
					<th>소속</th>
					<td>
						<select name="deptNo" id="deptNo" class="w100" >
							<option th:each="dept : ${deptNmList}" th:value="${dept.deptNo}" th:text="${dept.deptNm}"></option>
						</select>
					</td>
					<th>사번</th>
					<td>
						<input type="text" name="emplNo" id="emplNo" class="w100">
					</td>
				</tr>
				<tr>
					<th>이름<span class="text_red">*</span></th>
					<td>
						<input type="text" name="emplyrNm" id="emplyrNm" class="w200">
						<span class="emplyrLb" id="nameCheckMessages"></span>
					</td>
					<th>영문이름</th>
					<td >
						<input type="text" name="emplyrEng" id="emplyrEng" class="w200">
					</td>
				</tr>
				<tr>
					<th>이메일 <span class="text_red">*</span></th>
					<td colspan="3">
						<input type="text" name="emailAddress" id="emailAddress" class="w300">
					</td>
				</tr>
				<tr>
					<th>ID <span class="text_red">*</span></th>
					<td colspan="3">
						<input type="text" name="emplyrId" id="emplyrId" onchange="idOnchange();" class="w300"> 
						<a th:href="'javascript:fn_idCheck();'" class="btn_mtype3">중복확인</a>
						<span id="idCheckMessages"></span>
					</td>
				</tr>
				<tr>
					<th>비밀번호 <span class="text_red">*</span></th>
					<td colspan="3">
						<input type='password' name="password" id="password1" onchange="passwordCheck()" class="w200">
					</td>
				</tr>
				<tr>
					<th>비밀번호 확인 <span class="text_red">*</span></th>
					<td colspan="3">
						<input type='password'  id="password2" onchange="passwordCheck()" class="w200">
						<span class="emplyrLb" id="passwordCheckMessages" style="position: relative;"></span>
					</td>
				</tr>
				<tr>
					<th>휴대폰</th>
					<td>
						<input type="text" name="cellPhone" id="cellPhone" class="w200" >
						<span id="phoneCheckMessages" style="display: inline-block;">예) 010-1111-2222</span>
					</td>
					<th>집전화번호</th>
					<td>
						<input type="text" name="housePhone" id="housePhone" class="w200" >
						<span id="housePhoneCheckMessages" style="display: inline-block;">예) 02-111-2222</span>
					</td>
				</tr>
				<tr>
					<th>비고</th>
					<td colspan="3">
						<textarea  name="emplyrDesc" id="emplyrDesc" cols="30" rows="10" maxlength="500" placeholder="250자 이내만 입력 가능합니다." style="height: 150px; resize: none;"></textarea>
					</td>
				</tr>
				<tr>
					<th>사용여부</th>
					<td colspan="3">
						<label style="margin: 10px 0px 10px 20px;"><input type="radio" name="useAt" value="Y" id="use" checked="checked">사용함</label>
						<label style="margin-left: 20px;"><input type="radio" name="useAt" value="N" id="notInUse">사용안함</label>
					</td>
				</tr>
			</table>
			
			<div class="btn_right">
				<a href="#" id="save_btn" class="btn_ltype2">저장</a>
				<a th:href="@{/member/list}" class="btn_ltype2">목록</a>
			</div>

			
			<input type="hidden" name="regDate"  id="regDate"/>
			<input type="hidden" name="lastUpdDate" id="lastUpdDate"/>
			<input type="hidden" name="lockAt" id="lockAt"/>
			<input type="hidden" id="menu" name="menu" th:value="${headMenu}">
			<input type="hidden" id="subMenu" name="subMenu" th:value="${headSubMenu}">
			<input type="hidden" name="lastUpdId" id="lastUpdId"/>
			<input type="hidden" name="regId" id="regId"/>
		</form>
	</div>
</body>